<div class="details">
  <h1>{{ object()?.title }}</h1>
  <ul class="tui-list">
    <li class="tui-list__item">Type: {{ object()?.type }}</li>
    <li class="tui-list__item">Description: {{ object()?.description }}</li>
    <li class="tui-list__item">Start year: {{ object()?.startYear }}</li>
    <li class="tui-list__item">End year: {{ object()?.endYear }}</li>
    <li class="tui-list__item">Tags: {{ object()?.tags }}</li>
    <li class="tui-list__item">
      Rating: {{ object()?.rating | number:'1.2-2'}}
      <div class="rating-wrapper">
        <tui-rating
          [max]="10"
          [(ngModel)]="userRating"
        />
        <button tuiButton size="m" appearance="secondary-grayscale" (click)="rate()">Rate</button>
      </div>
    </li>
    <li class="tui-list__item">Country: {{ object()?.country }}</li>
    <li *ngIf="getBook()" class="tui-list__item">Number of pages: {{ getBook()?.quantityPages }}</li>
    <li *ngIf="getMovie()" class="tui-list__item">Duration: {{ getMovie()?.duration }}</li>
    <li *ngIf="getSeries()" class="tui-list__item">Seasons: {{ getSeries()?.seasons }}</li>
    <li *ngIf="object()?.persons?.length" class="tui-list__item">Persons:</li>
    <li class="li-wo-dot" >
      <ul class="tui-list tui-list_linear tui-list_nested">
        @for (person of object()?.persons; track person.name) {
          <li class="tui-list__item">{{ person.role }}: {{ person.name }}</li>
        }
      </ul>
    </li>
  </ul>
  <button tuiButton size="m" appearance="secondary-grayscale" (click)="goBack()">Back to list</button>
  <button tuiButton size="m" appearance="secondary-grayscale" (click)="showDialog()">Edit</button>


</div>

<ng-template
  let-observer
  [tuiDialogOptions]="{label: 'Редактирование элемента', size: 'l'}"
  [(tuiDialog)]="open"
>
  <form
    class="edit-form"
    [formGroup]="editForm"
    (ngSubmit)="observer.complete()"
  >
    <div class="form-field">
      <tui-input formControlName="editTitle" tuiAutoFocus>Title</tui-input>
      <tui-error
        formControlName="editTitle"
        [error]="[] | tuiFieldError | async"
      />
    </div>


    <div class="form-field">
      <tui-input formControlName="editDescription">Description</tui-input>
      <tui-error
        formControlName="editDescription"
        [error]="[] | tuiFieldError | async"
      />
    </div>


    <div class="form-field">
      <tui-input formControlName="editStartYear">Start Year</tui-input>
      <tui-error
        formControlName="editStartYear"
        [error]="[] | tuiFieldError | async"
      />
    </div>

    <div class="form-field">
      <tui-input formControlName="editEndYear">End Year</tui-input>
      <tui-error
        formControlName="editEndYear"
        [error]="[] | tuiFieldError | async"
      />
    </div>

    <tui-combo-box
      formControlName="editType"
    >
      Type
      <tui-data-list-wrapper
        *tuiDataList
        [items]="types | tuiFilterByInput"
      />
      <tui-error
        formControlName="editType"
        [error]="[] | tuiFieldError | async"
      />
    </tui-combo-box>

    <tui-multi-select
      formControlName="editTags"
    >
      Tags
      <tui-data-list-wrapper
        *tuiDataList
        tuiMultiSelectGroup
        [items]="allowedTags"
      />
      <tui-error
        formControlName="editTags"
        [error]="[] | tuiFieldError | async"
      />
    </tui-multi-select>

    <tui-combo-box
      formControlName="editCountry"
    >
      Country
      <tui-data-list-wrapper
        *tuiDataList
        [items]="countries | tuiFilterByInput"
      />
      <tui-error
        formControlName="editCountry"
        [error]="[] | tuiFieldError | async"
      />
    </tui-combo-box>

    @if(getBook()) {
      <div class="form-field">
        <tui-input formControlName="editQuantityPages">Pages</tui-input>
        <tui-error
          formControlName="editQuantityPages"
          [error]="[] | tuiFieldError | async"
        />
      </div>
    }

    @if(getSeries()) {
      <div class="form-field">
        <tui-input formControlName="editSeasons">Seasons</tui-input>
        <tui-error
          formControlName="editSeasons"
          [error]="[] | tuiFieldError | async"
        />
      </div>
    }

    @if(getMovie()) {
      <div class="form-field">
        <tui-input formControlName="editDuration">Duration</tui-input>
        <tui-error
          formControlName="editDuration"
          [error]="[] | tuiFieldError | async"
        />
      </div>
    }

    <div formArrayName="editPersons" class="edit-form">
      @for(personGroup of editPersons.controls; let i = $index; track personGroup.value){
        <div formGroupName="{{i}}">
          <label tuiLabel>
            {{personGroup.value.role}}

            <tui-textfield  [tuiTextfieldCleaner]="false">
              <input
                tuiTextfield
                formControlName="name"
                placeholder="{{personGroup.value.role}}"
              />

              <button
                tuiIconButton
                appearance="flat"
                iconEnd="plus"
                size="xs"
                type="button"
                (click)="addPerson(personGroup.value.role)"
                aria-label="Добавить"
              ></button>

              <button
                tuiIconButton
                appearance="flat"
                iconEnd="trash"
                size="xs"
                type="button"
                (click)="removePerson(i)"
                aria-label="Удалить"
              ></button>
            </tui-textfield>

            <tui-error
              formControlName="name"
              [error]="[] | tuiFieldError | async"
            />
          </label>
        </div>
      }
    </div>


    <div class="form-actions">
      <button
        tuiButton
        type="submit"
        (click)="submitEdit()"
      >
        Ok
      </button>
    </div>
  </form>
</ng-template>

