<div class="books" *ngIf="!selectedBook">
  @for(book of books(); track book.id) {
    <button
      tuiAppearance="neutral"
      tuiCardMedium
      (click)="selectBook(book)"
    >
      <tui-avatar
        src="@tui.star"
        class="star"
      />

      <h2 tuiTitle class="book__title">
        {{book.title}}
      </h2>

      <div class="book-rating">
        <tui-icon
          icon="@tui.star"
          [style.color]="'var(--tui-background-accent-2)'"
          class="rating-icon"
        ></tui-icon>
        <span class="rating-value">{{ book.rating }}</span>

        <button
          tuiButton
          appearance="flat-grayscale"
          class="rate-button"
          size="xs"
        >
          <tui-icon icon="@tui.star" class="rate-icon"></tui-icon> Rate
        </button>
      </div>
    </button>
  }
</div>

<div *ngIf="selectedBook">
  <app-details [object]="selectedBook" (back)="backToList()"></app-details>
</div>
