<header tuiNavigationHeader>

  <div tuiNavigationLogo>
    <img src="assets/FMDb.svg" alt="Logo" width="100" height="50"/>
  </div>

  <div tuiNavigationSegments>
    <button
      class="header-btn"
      tuiButton type="button"
      (click)="navigateToMovies()"
    >
      <span>Movies</span>
    </button>
    <a
      class="header-btn"
      tuiButton type="button"
    >
      <span>TV Shows</span>
    </a>
    <a
      class="header-btn"
      tuiButton type="button"
    >
      <span>Books</span>
    </a>
  </div>


  <tui-textfield
    iconEnd="@tui.search"
    class="header__textfield"
  >
    <input
      tuiTextfield
      [(ngModel)]="searchQuery"
      (ngModelChange)="onSearchChange($event)"
    />
    <tui-icon icon="@tui.equal" (click)="goToFilters()"/>
  </tui-textfield>
</header>
