<form
  tuiForm="l"
  [formGroup]="form"
  (ngSubmit)="submit()"
>

  <fieldset tuiTextfieldSize="m" class="filter-block">
    <div class="filter-header">
      <h3 tuiTitle>Type</h3>
    </div>
    <tui-textfield tuiChevron style="min-width: 8rem;">
      <select
        formControlName="type"
        placeholder="Select type"
        tuiTextfield
      ></select>
      <tui-data-list-wrapper
        *tuiTextfieldDropdown
        [items]="types"
      />
    </tui-textfield>
  </fieldset>


  <fieldset tuiTextfieldSize="m" class="filter-block">
    <div class="filter-header">
      <h3 tuiTitle>Title</h3>
    </div>
    <tui-textfield iconEnd="@tui.search" class="search-input" style="min-width: 8rem;">
      <input
        formControlName="title"
        placeholder="Enter title"
        tuiTextfield
      />
    </tui-textfield>
  </fieldset>

  <fieldset tuiTextfieldSize="m" class="filter-block">
    <div class="filter-header">
      <h3 tuiTitle>Description</h3>
    </div>
    <tui-textfield iconEnd="@tui.search" class="search-input" style="min-width: 8rem;">
      <input
        formControlName="description"
        placeholder="Enter description"
        tuiTextfield
      />
    </tui-textfield>
  </fieldset>

  <fieldset class="filter-block">
    <div class="filter-header">
      <h3 tuiTitle>Rating</h3>
    </div>
    <tui-textfield>
      <label tuiLabel [for]="form">Enter a rating</label>
      <input
        tuiInputNumber
        formControlName="rating"
        [min]="0"
        [max]="10"
      />
    </tui-textfield>
  </fieldset>

  <fieldset class="filter-block">
    <div class="filter-header">
      <h3 tuiTitle>Year</h3>
    </div>
    <tui-input-range
      formControlName="yearRange"
      [min]="1800"
      [max]="2025"
      [steps]="76"
      [quantum]="1"
      [tuiTextfieldSize]="'m'"
      [tuiTextfieldLabelOutside]="true"
      style="min-width: 7rem;"
    />
  </fieldset>

  <fieldset tuiTextfieldSize="m" class="filter-block">
    <div class="filter-header">
      <h3 tuiTitle>Country</h3>
    </div>
    <tui-textfield tuiChevron style="min-width: 8rem;">
      <select
        formControlName="country"
        placeholder="Select country"
        tuiTextfield
      ></select>
      <tui-data-list-wrapper
        *tuiTextfieldDropdown
        [items]="countries"
      />
    </tui-textfield>
  </fieldset>

  <fieldset class="filter-block">
    <div class="filter-header">
      <h3 tuiTitle>Duration (min/seasons/pages)</h3>
    </div>
    <tui-textfield>
      <label tuiLabel [for]="form">Enter duration</label>
      <input
        tuiInputNumber
        formControlName="duration"
        [min]="0"
        [max]="9999"
      />
    </tui-textfield>
  </fieldset>

  <tui-input-tag
    formControlName="tags"

    [tuiTextfieldLabelOutside]="true"
    [(search)]="search"
  >
    Try it
    <ng-container *ngIf="filtered.length">
      <tui-data-list *tuiDataList>
        <button
          *ngFor="let item of filtered"
          tuiOption
          type="button"
          [value]="item"
        >
          {{ item }}
        </button>
      </tui-data-list>
    </ng-container>
  </tui-input-tag>

  <tui-error
    [error]="[] | tuiFieldError | async"
    formControlName="tags"
  />

  <tui-input-tag
    *ngIf="this.form.get('type')?.getRawValue() === 'BOOK'"
    formControlName="authors"
    tuiTextfieldSize="m"
    class="tui-space_top-2"
    [tuiTextfieldCleaner]="true"
    [tuiTextfieldLabelOutside]="true"
  >
    Authors
  </tui-input-tag>

  <tui-input-tag
    *ngIf="this.form.get('type')?.getRawValue() !== 'BOOK'"
    formControlName="directors"
    tuiTextfieldSize="m"
    class="tui-space_top-2"
    [tuiTextfieldCleaner]="true"
    [tuiTextfieldLabelOutside]="true"
  >
    Directors
  </tui-input-tag>

  <tui-input-tag
    *ngIf="this.form.get('type')?.getRawValue() !== 'BOOK'"
    formControlName="actors"
    tuiTextfieldSize="m"
    class="tui-space_top-2"
    [tuiTextfieldCleaner]="true"
    [tuiTextfieldLabelOutside]="true"
  >
    Actors
  </tui-input-tag>

  <button
    tuiButton
    type="submit"
    [disabled]="form.invalid"
  >
    Отправить
  </button>
</form>
