<footer class="app-footer" tuiGroup>
  <nav class="footer-content">
    <button
      tuiButton
      appearance="flat-grayscale"
      iconEnd="@tui.external-link"
      [style.color]="'var(--tui-text-primary)'"
    >
      <span>Help</span>
    </button>
    <button
      tuiButton
      appearance="flat-grayscale"
      iconEnd="@tui.external-link"
      [style.color]="'var(--tui-text-primary)'"
    >
      <span>About Us</span>
    </button>
    <button
      tuiButton
      appearance="flat-grayscale"
      iconEnd="@tui.external-link"
      [style.color]="'var(--tui-text-primary)'"
    >
      <span>Developers</span>
    </button>
    <button
      tuiButton
      appearance="flat-grayscale"
      iconEnd="@tui.external-link"
      [style.color]="'var(--tui-text-primary)'"
    >
      <span>Import/Export</span>
    </button>
  </nav>
</footer>
