<footer class="app-footer" tuiGroup>
  <nav class="footer-content">
    <a
      tuiLink
      iconEnd="@tui.external-link"
      [style.color]="'var(--tui-text-primary)'"
    >
      <span>Help</span>
    </a>
    <a
      tuiLink
      iconEnd="@tui.external-link"
      [style.color]="'var(--tui-text-primary)'"
    >
      <span>About Us</span>
    </a>
    <a
      tuiLink
      iconEnd="@tui.external-link"
      [style.color]="'var(--tui-text-primary)'"
    >
      <span>Developers</span>
    </a>
    <a
      tuiLink
      iconEnd="@tui.external-link"
      [style.color]="'var(--tui-text-primary)'"
    >
      <span>Import/Export</span>
    </a>
  </nav>
</footer>
